<a href="https://colab.research.google.com/github/Caiky22/Chechpoint_Geral_Oficial_Real/blob/develop/CHECKPOINT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 1

## Carregar módulos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [2]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [3]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [4]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## Ajustes

- Nomes das colunas

In [5]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [6]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [7]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

- Reajustar dados

In [8]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [9]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [10]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [11]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [12]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [13]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [14]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [15]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [16]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [17]:
dados_paises_covid.shape

(330327, 6)

In [18]:
dados_paises_covid_dead.shape

(330327, 6)

In [19]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [20]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [21]:
dados_covid.shape

(330327, 7)

## Aqui começa o trabalho

### *Exemplo probabilidades (memórias de cálculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 países

total_populacao = soma do total de população dos 4 países

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

In [22]:
from datetime import datetime, timedelta

In [23]:
np.max(dados_covid['date']) - timedelta(days=365)

Timestamp('2022-03-09 00:00:00')

### Checkpoint 2

In [24]:
data_maxima = np.max(dados_covid['date'])
data_maxima

Timestamp('2023-03-09 00:00:00')

In [25]:
dados_filtrados = dados_covid[dados_covid["date"] == data_maxima]

In [26]:
dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

<ipython-input-26-ff87ba695aee>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

In [27]:
 dados_filtrados_2 [dados_filtrados_2["country"].isin (["Brazil", "Italy", "US",])]

    country       Lat       Long   infected     dead
24   Brazil -14.23500  -51.92530   37076053   699276
86    Italy  41.87194   12.56738   25603510   188322
186      US  40.00000 -100.00000  103802702  1123836

In [28]:
dados_canada = dados_covid[dados_covid["country"] == "Canada"]
dados_canada

,province,country,Lat,Long,date,infected,dead
40,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0
41,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0
42,Diamond Princess,Canada,0.0000,0.0000,2020-01-22,0,0
43,Grand Princess,Canada,0.0000,0.0000,2020-01-22,0,0
44,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0
...,...,...,...,...,...,...,...
330089,Prince Edward Island,Canada,46.5107,-63.4168,2023-03-09,56523,93
330090,Quebec,Canada,52.9399,-73.5491,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.9399,-106.4509,2023-03-09,153651,1890
330093,Yukon,Canada,64.2823,-135.0000,2023-03-09,4989,32

In [29]:
dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

<ipython-input-29-42487c7c5d1e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

In [30]:
selected_country = ['Brazil', 'US', 'Italy', 'Canada']

In [31]:
dados_filtrados3 = dados_filtrados[(dados_filtrados['date'] == data_maxima) & \
                                   (dados_filtrados ['country'].isin(selected_country))]

In [32]:
dados_covid_2 = dados_filtrados3.groupby("country",).sum() .reset_index()

<ipython-input-32-8e9402adfe29>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_covid_2 = dados_filtrados3.groupby("country",).sum() .reset_index()

### Questão 2

In [33]:
dados_covid_2['população'] = np.log(dados_covid_2['infected'])

In [34]:
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  17.428482
1  Canada  708.85560 -1202.59790    4617095    51720  15.345276
2   Italy   41.87194    12.56738   25603510   188322  17.058240
3      US   40.00000  -100.00000  103802702  1123836  18.458003

In [35]:
dados_covid_2[dados_covid_2['country'].isin(['Brazil', 'US', 'Canada', 'Italy'])]

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  17.428482
1  Canada  708.85560 -1202.59790    4617095    51720  15.345276
2   Italy   41.87194    12.56738   25603510   188322  17.058240
3      US   40.00000  -100.00000  103802702  1123836  18.458003

In [36]:
dados_covid_2['população'] = '214300000', '38250000', '58110000', '331900000'
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

### Questão 3 (A)

In [37]:
dados_covid_2['população'] = dados_covid_2['população'].astype(int)
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [38]:
populacao_total = dados_covid_2['população'].sum()
populacao_total

642560000

In [39]:
total_infectados = dados_covid_2['infected'].sum()

In [40]:
prob_infectados = total_infectados/populacao_total
prob_infectados

0.2662776394422311

### Questão 3 (B)

In [41]:
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [42]:
dados_brasil = dados_covid_2[dados_covid_2['country'] == 'Brazil']
dados_brasil

  country     Lat     Long  infected    dead  população
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [43]:
dados_infec_br = dados_brasil['infected'].sum()
dados_infec_br

37076053

In [44]:
p_infec_br = dados_infec_br / populacao_total
p_infec_br

0.057700530689741035

### Questão 3 (C)

In [45]:
dados_brasil

  country     Lat     Long  infected    dead  população
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [46]:
pop_brasil = dados_brasil['população'].sum()
pop_brasil

214300000

In [47]:
populacao_total

642560000

In [48]:
br_pip = (dados_infec_br / populacao_total) / (pop_brasil / populacao_total )  
br_pip

0.17301004666355577

### Questão 3 -- e / f --- US

### Questão E

In [49]:
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [50]:
dados_us = dados_covid_2[dados_covid_2['country'] == 'US']
dados_us

  country   Lat   Long   infected     dead  população
3      US  40.0 -100.0  103802702  1123836  331900000

In [51]:
infec_us = dados_us['infected'].sum()
infec_us

103802702

In [52]:
p_infec_us = infec_us / populacao_total
p_infec_us

0.16154553971613544

### Questão F

In [53]:
pop_us = dados_us['população'].sum()
pop_us

331900000

In [54]:
us_pip = (infec_us / populacao_total) / (pop_us / populacao_total)
us_pip

0.31275294365772816

### Questão 3 -- H / I -- ITALY

### Questão H

In [55]:
dados_covid_2

  country        Lat        Long   infected     dead  população
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [56]:
dados_italy = dados_covid_2[dados_covid_2['country'] == 'Italy']
dados_italy

  country       Lat      Long  infected    dead  população
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [57]:
infec_italy = dados_italy['infected'].sum()
infec_italy

25603510

In [58]:
p_infec_italy = infec_italy / populacao_total
p_infec_italy

0.0398460999750996

### Questão i

In [59]:
pop_italy = dados_italy['população'].sum()
pop_italy

58110000

In [60]:
italy_pip = (infec_italy / populacao_total) / (pop_italy / populacao_total)
italy_pip

0.44060419893305797

### Questão 4 - Brazil

* Questão A

In [61]:
total_mortos = dados_covid_2['dead'].sum()
total_mortos

2063154

In [62]:
prob_morto = total_mortos/populacao_total
prob_morto

0.003210834785856574

* Questão B

In [63]:
dados_brasil

  country     Lat     Long  infected    dead  população
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [64]:
dados_morte_br = dados_brasil['dead'].sum()
dados_morte_br

699276

In [65]:
p_morte_br = dados_morte_br / populacao_total
p_morte_br

0.001088265687250996

* Questão C

In [66]:
pop_brasil

214300000

In [67]:
dados_morte_br

699276

In [68]:
pip_br_morte = (dados_morte_br / populacao_total) / (pop_brasil / populacao_total)
pip_br_morte

0.0032630704619692023

### Questão 4 - US

* Questão E

In [69]:
dados_us

  country   Lat   Long   infected     dead  população
3      US  40.0 -100.0  103802702  1123836  331900000

In [71]:
dados_morte_us = dados_us['dead'].sum()
dados_morte_us

1123836

In [72]:
p_morte_us = dados_morte_us / populacao_total
p_morte_us

0.0017489977589641435

* Questão F

In [73]:
pop_us

331900000

In [74]:
dados_morte_us

1123836

In [75]:
pip_us_morte = (dados_morte_us / populacao_total) / (pop_us / populacao_total)
pip_us_morte

0.0033860680927990357

### Questão 4 - Italy

* Questão H

In [76]:
dados_italy

  country       Lat      Long  infected    dead  população
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [77]:
dados_morte_italy = dados_italy['dead'].sum()
dados_morte_italy

188322

In [78]:
p_morte_italy = dados_morte_italy / populacao_total
p_morte_italy

0.00029308080179282867

* Questão i

In [79]:
pop_italy

58110000

In [80]:
dados_morte_italy

188322

In [81]:
pip_italy_morte = (dados_morte_italy / populacao_total) / (pop_italy / populacao_total)
pip_italy_morte

0.0032407847186370674

### Questões de comparação 
3 - D / G / J





4 - D / G / J

In [82]:
data_2 = dados_covid[dados_covid['date'] == '2022-03-09'] .reset_index()
data_2

,index,province,country,Lat,Long,date,infected,dead
0,224553,NaN,Afghanistan,33.939110,67.709953,2022-03-09,175525,7636
1,224554,NaN,Albania,41.153300,20.168300,2022-03-09,272412,3483
2,224555,NaN,Algeria,28.033900,1.659600,2022-03-09,265346,6860
3,224556,NaN,Andorra,42.506300,1.521800,2022-03-09,38794,152
4,224557,NaN,Angola,-11.202700,17.873900,2022-03-09,98855,1900
...,...,...,...,...,...,...,...,...
284,224837,NaN,West Bank and Gaza,31.952200,35.233200,2022-03-09,652763,5588
285,224838,NaN,Winter Olympics 2022,39.904200,116.407400,2022-03-09,533,0
286,224839,NaN,Yemen,15.552727,48.516388,2022-03-09,11781,2138
287,224840,NaN,Zambia,-13.133897,27.849332,2022-03-09,314641,3960
288,224841,NaN,Zimbabwe,-19.015438,29.154857,2022-03-09,240343,5400

In [83]:
data_3 = data_2[data_2['country'].isin(selected_country)]. reset_index()

In [84]:
data_3 = data_3.drop('index', axis=1)
data_3

,level_0,province,country,Lat,Long,date,infected,dead
0,31,NaN,Brazil,-14.23500,-51.92530,2022-03-09,29198101,653767
1,40,Alberta,Canada,53.93330,-116.57650,2022-03-09,529736,3986
2,41,British Columbia,Canada,53.72670,-127.64760,2022-03-09,351415,2929
3,42,Diamond Princess,Canada,0.00000,0.00000,2022-03-09,0,1
4,43,Grand Princess,Canada,0.00000,0.00000,2022-03-09,13,0
5,44,Manitoba,Canada,53.76090,-98.81390,2022-03-09,132295,1703
6,45,New Brunswick,Canada,46.56530,-66.46190,2022-03-09,40654,313
7,46,Newfoundland and Labrador,Canada,53.13550,-57.66040,2022-03-09,28103,72
8,47,Northwest Territories,Canada,64.82550,-124.84570,2022-03-09,9400,20
9,48,Nova Scotia,Canada,44.68200,-63.74430,2022-03-09,47089,212
10,49,Nunavut,Canada,70.29980,-83.10760,2022-03-09,3200,5
11,50,Ontario,Canada,51.25380,-85.32320,2022-03-09,1131621,12618
12,51,Prince Edward Island,Canada,46.51070,-63.41680,2022-03-09,18905,16
13,52,Quebec,Canada,52.93990,-73.54910,2022-03-09,932174,14126
14,53,Repatriated Travellers,Canada,NaN,NaN,2022-03-09,13,0
15,54,Saskatchewan,Canada,52.93990,-106.45090,2022-03-09,128289,1135
16,55,Yukon,Canada,64.28230,-135.00000,2022-03-09,3533,22
17,154,NaN,Italy,41.87194,12.56738,2022-03-09,13159342,156357
18,260,NaN,US,40.00000,-100.00000,2022-03-09,79536060,963275

In [85]:
data_3 = data_3.drop('level_0', axis=1)
data_3

,province,country,Lat,Long,date,infected,dead
0,NaN,Brazil,-14.23500,-51.92530,2022-03-09,29198101,653767
1,Alberta,Canada,53.93330,-116.57650,2022-03-09,529736,3986
2,British Columbia,Canada,53.72670,-127.64760,2022-03-09,351415,2929
3,Diamond Princess,Canada,0.00000,0.00000,2022-03-09,0,1
4,Grand Princess,Canada,0.00000,0.00000,2022-03-09,13,0
5,Manitoba,Canada,53.76090,-98.81390,2022-03-09,132295,1703
6,New Brunswick,Canada,46.56530,-66.46190,2022-03-09,40654,313
7,Newfoundland and Labrador,Canada,53.13550,-57.66040,2022-03-09,28103,72
8,Northwest Territories,Canada,64.82550,-124.84570,2022-03-09,9400,20
9,Nova Scotia,Canada,44.68200,-63.74430,2022-03-09,47089,212
10,Nunavut,Canada,70.29980,-83.10760,2022-03-09,3200,5
11,Ontario,Canada,51.25380,-85.32320,2022-03-09,1131621,12618
12,Prince Edward Island,Canada,46.51070,-63.41680,2022-03-09,18905,16
13,Quebec,Canada,52.93990,-73.54910,2022-03-09,932174,14126
14,Repatriated Travellers,Canada,NaN,NaN,2022-03-09,13,0
15,Saskatchewan,Canada,52.93990,-106.45090,2022-03-09,128289,1135
16,Yukon,Canada,64.28230,-135.00000,2022-03-09,3533,22
17,NaN,Italy,41.87194,12.56738,2022-03-09,13159342,156357
18,NaN,US,40.00000,-100.00000,2022-03-09,79536060,963275

In [86]:
data_4 = data_3.groupby("country",).sum() .reset_index()
data_4

<ipython-input-86-31554a5ff052>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_4 = data_3.groupby("country",).sum() .reset_index()

  country        Lat        Long  infected    dead
0  Brazil  -14.23500   -51.92530  29198101  653767
1  Canada  708.85560 -1202.59790   3356440   37158
2   Italy   41.87194    12.56738  13159342  156357
3      US   40.00000  -100.00000  79536060  963275

### D - a) BRAZIL

In [87]:
total_infectados_2 = data_4['infected'].sum()
total_infectados_2

125249943

In [88]:
# Probabilidade de ser infectado em 2022
prob_infec_3 = total_infectados_2/populacao_total
prob_infec_3

0.19492334256723107

In [89]:
# Probabilidade de ser infectado em 2023
prob_infectados = total_infectados/populacao_total
prob_infectados

0.2662776394422311

* A probabilidade de ser infectado por covid foi maior em 2023 com 26%

### D - b) BRAZIL

In [90]:
dados_brasil_2 = data_4[data_4['country'] == 'Brazil']
dados_brasil_2

  country     Lat     Long  infected    dead
0  Brazil -14.235 -51.9253  29198101  653767

In [91]:
dados_infec_br_2 = dados_brasil_2['infected'].sum()
dados_infec_br_2

29198101

In [92]:
#P(infectado covid e ser Brasileiro) 2022
p_infec_br_2 = dados_infec_br_2 / populacao_total
p_infec_br_2

0.04544027172559761

In [93]:
#P(infectado covid e ser Brasileiro) 2023
p_infec_br = dados_infec_br / populacao_total
p_infec_br

0.057700530689741035

* A probabilidade de ser infectado por covid sendo brasileiro foi maior em 2023 com 5,7%



### D - c) - BRAZIL

In [94]:
#P(infectado covid | ser Brasileiro 2022)
br_pip_2 = (dados_infec_br_2 / populacao_total) / (pop_brasil / populacao_total)
br_pip_2

0.13624872141857208

In [95]:
#P(infectado covid | ser Brasileiro 2023)
br_pip = (dados_infec_br / populacao_total) / (pop_brasil / populacao_total )  
br_pip

0.17301004666355577

* P(infectado covid | ser Brasileiro 2023) foi maior em 2023 com 17%

### 3-D USA

### E

In [96]:
dados_us_2 = data_2[data_2['country'] == 'US']
dados_us_2

      index province country   Lat   Long       date  infected    dead
260  224813      NaN      US  40.0 -100.0 2022-03-09  79536060  963275

In [97]:
infec_us_2 = dados_us_2['infected'].sum()
infec_us_2

79536060

In [98]:
#P(infectado covid e ser USA) 2022
p_infec_us_2 = infec_us_2 / populacao_total
p_infec_us_2

0.12377997385458167

In [99]:
#P(infectado covid e ser USA) 2023
p_infec_us = infec_us / populacao_total
p_infec_us

0.16154553971613544

* A probabilidade de ser infectado por covid sendo estadunidense foi maior em 2023 com 16%

### F

In [100]:
#P(infectado covid | ser USA) 2022
us_pip_2 = (infec_us_2 / populacao_total) / (pop_us / populacao_total)
us_pip_2

0.2396386260921964

In [101]:
#P(infectado covid | ser USA) 2023
us_pip = (infec_us / populacao_total) / (pop_us / populacao_total)
us_pip

0.31275294365772816

* P(infectado covid | ser USA) foi maior em 2023 com 31%

### 3-D Italy

### H

In [102]:
dados_italy_2 = data_4[data_4['country'] == 'Italy']
dados_italy_2

  country       Lat      Long  infected    dead
2   Italy  41.87194  12.56738  13159342  156357

In [103]:
infec_italy_2 = dados_italy_2['infected'].sum()
infec_italy_2

13159342

In [104]:
#P(infectado covid e ser Italiano) 2022
p_infec_italy_2 = infec_italy_2 / populacao_total
p_infec_italy_2

0.020479553660358564

In [105]:
#P(infectado covid e ser Italiano) 2023
p_infec_italy = infec_italy / populacao_total
p_infec_italy

0.0398460999750996

* A probabilidade de ser infectado por covid sendo italiano foi maior em 2023 com 3,9%

### i

In [106]:
#P(infectado covid | ser Italiano) 2022
italy_pip_2 = (infec_italy_2 / populacao_total) / (pop_italy / populacao_total)
italy_pip_2

0.22645572190672858

In [107]:
#P(infectado covid | ser Italiano) 2023
italy_pip = (infec_italy / populacao_total) / (pop_italy / populacao_total)
italy_pip

0.44060419893305797

* P(infectado covid | ser Italiano) foi maior em 2023 com 44%

### QUESTÃO 4

In [108]:
data_4

  country        Lat        Long  infected    dead
0  Brazil  -14.23500   -51.92530  29198101  653767
1  Canada  708.85560 -1202.59790   3356440   37158
2   Italy   41.87194    12.56738  13159342  156357
3      US   40.00000  -100.00000  79536060  963275

###  (A)

In [109]:
total_mortos_2 = data_4['dead'].sum()
total_mortos_2

1810557

In [110]:
#probabilidade de morrer por covid em 2022
prob_morto_2 = total_mortos_2/populacao_total
prob_morto_2

0.0028177244148406373

In [111]:
#probabilidade de morrer por covid em 2023
prob_morto = total_mortos/populacao_total
prob_morto

0.003210834785856574

* A maior probabilidade de morte foi em 2023 com 0,3%

### BRAZIL - (B)

In [112]:
dados_brasil_2

  country     Lat     Long  infected    dead
0  Brazil -14.235 -51.9253  29198101  653767

In [113]:
dados_morte_br_2 = dados_brasil_2['dead'].sum()
dados_morte_br_2

653767

In [114]:
#probabilidade de morrer por covid sendo brasileiro em 2022
p_morte_br_2 = dados_morte_br_2 / populacao_total
p_morte_br_2

0.001017441172808765

In [115]:
#probabilidade de morrer por covid sendo brasileiro em 2023
p_morte_br = dados_morte_br / populacao_total
p_morte_br

0.001088265687250996

* A maior probabilidade de morte no Brasil foi em 2023 com 0,1%

### BRAZIL - (C)

In [116]:
pop_brasil

214300000

In [117]:
dados_morte_br_2

653767

In [118]:
#P(morte covid | ser Brasileiro) 2022
pip_br_morte_2 = (dados_morte_br_2 / populacao_total) / (pop_brasil / populacao_total)
pip_br_morte_2

0.003050709286047597

In [119]:
#P(morte covid | ser Brasileiro) 2023
pip_br_morte = (dados_morte_br / populacao_total) / (pop_brasil / populacao_total)
pip_br_morte

0.0032630704619692023

* P(morte covid | ser Brasileiro) foi maior em 2023 com 0,3%

### US - (E)

In [120]:
dados_us_2

      index province country   Lat   Long       date  infected    dead
260  224813      NaN      US  40.0 -100.0 2022-03-09  79536060  963275

In [121]:
dados_morte_us_2 = dados_us_2['dead'].sum()
dados_morte_us_2

963275

In [122]:
#probabilidade de morrer por covid sendo estadunidense em 2022
p_morte_us_2 = dados_morte_us_2 / populacao_total
p_morte_us_2

0.001499120704681275

In [123]:
#probabilidade de morrer por covid sendo estadunidense em 2023
p_morte_us = dados_morte_us / populacao_total
p_morte_us

0.0017489977589641435

* A maior probabilidade de morte nos Estado Unidos foi em 2023 com 0,17%

### US - (F)

In [124]:
pop_us

331900000

In [125]:
dados_morte_us_2

963275

In [126]:
#P(mortecovid | ser USA) em 2022
pip_us_morte_2 = (dados_morte_us_2 / populacao_total) / (pop_us / populacao_total)
pip_us_morte_2

0.0029023049111178063

In [127]:
#P(mortecovid | ser USA) em 2023
pip_us_morte = (dados_morte_us / populacao_total) / (pop_us / populacao_total)
pip_us_morte

0.0033860680927990357

* P(mortecovid | ser USA) foi maior em 2023 com 0,3%

### ITALY - (H)

In [128]:
dados_italy_2

  country       Lat      Long  infected    dead
2   Italy  41.87194  12.56738  13159342  156357

In [129]:
dados_morte_italy_2 = dados_italy_2['dead'].sum()
dados_morte_italy_2

156357

In [130]:
#probabilidade de morrer por covid sendo italiano em 2022
p_morte_italy_2 = dados_morte_italy_2 / populacao_total
p_morte_italy_2

0.00024333447460159362

In [131]:
#probabilidade de morrer por covid sendo italiano em 2023
p_morte_italy = dados_morte_italy / populacao_total
p_morte_italy

0.00029308080179282867

* A maior probabilidade de morte na Italia foi em 2023 com 0,002%

### ITALY - (i)

In [132]:
pop_italy

58110000

In [133]:
dados_morte_italy_2

156357

In [134]:
#P(mortecovid | ser Italiano) em 2022
pip_italy_morte_2 = (dados_morte_italy_2 / populacao_total) / (pop_italy / populacao_total)
pip_italy_morte_2

0.002690707279297883

In [135]:
#P(mortecovid | ser Italiano) em 2023
pip_italy_morte = (dados_morte_italy / populacao_total) / (pop_italy / populacao_total)
pip_italy_morte

0.0032407847186370674

* P(mortecovid | ser Italiano) foi maior em 2023 com 0,03%

### QUESTÃO 5
Gerar uma tabela resumo de todos os resultados. Comente as diferenças.

In [136]:
data_4

  country        Lat        Long  infected    dead
0  Brazil  -14.23500   -51.92530  29198101  653767
1  Canada  708.85560 -1202.59790   3356440   37158
2   Italy   41.87194    12.56738  13159342  156357
3      US   40.00000  -100.00000  79536060  963275

### QUESTÃO 5

In [156]:
df_comparacao = pd.DataFrame()
df_comparacao

Empty DataFrame
Columns: []
Index: []

In [157]:
df_comparacao = pd.DataFrame(columns=['Brazil', 'US', 'Italy'], dtype=float)
df_comparacao

Empty DataFrame
Columns: [Brazil, US, Italy]
Index: []

In [161]:
df_comparacao.dtypes

Brazil    float64
US        float64
Italy     float64
dtype: object