<a href="https://colab.research.google.com/github/Caiky22/Chechpoint_Geral_Oficial_Real/blob/develop/codigo_checkpoint2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 1

## Carregar m√≥dulos

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [2]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [3]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [4]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## Ajustes

- Nomes das colunas

In [5]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [6]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [7]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

- Reajustar dados

In [8]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [9]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [10]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [11]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [12]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [13]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [14]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [15]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [16]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [17]:
dados_paises_covid.shape

(330327, 6)

In [18]:
dados_paises_covid_dead.shape

(330327, 6)

In [19]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [20]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [21]:
dados_covid.shape

(330327, 7)

## Aqui come√ßa o trabalho

### *Exemplo probabilidades (mem√≥rias de c√°lculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 pa√≠ses

total_populacao = soma do total de popula√ß√£o dos 4 pa√≠ses

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

In [22]:
from datetime import datetime, timedelta

In [23]:
np.max(dados_covid['date']) - timedelta(days=365)

Timestamp('2022-03-09 00:00:00')

### Checkpoint 2

In [24]:
data_maxima = np.max(dados_covid['date'])
data_maxima

Timestamp('2023-03-09 00:00:00')

In [25]:
dados_filtrados = dados_covid[dados_covid["date"] == data_maxima]

In [26]:
dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

<ipython-input-26-ff87ba695aee>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

In [27]:
 dados_filtrados_2 [dados_filtrados_2["country"].isin (["Brazil", "Italy", "US",])]

    country       Lat       Long   infected     dead
24   Brazil -14.23500  -51.92530   37076053   699276
86    Italy  41.87194   12.56738   25603510   188322
186      US  40.00000 -100.00000  103802702  1123836

In [28]:
dados_canada = dados_covid[dados_covid["country"] == "Canada"]
dados_canada

,province,country,Lat,Long,date,infected,dead
40,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0
41,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0
42,Diamond Princess,Canada,0.0000,0.0000,2020-01-22,0,0
43,Grand Princess,Canada,0.0000,0.0000,2020-01-22,0,0
44,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0
...,...,...,...,...,...,...,...
330089,Prince Edward Island,Canada,46.5107,-63.4168,2023-03-09,56523,93
330090,Quebec,Canada,52.9399,-73.5491,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.9399,-106.4509,2023-03-09,153651,1890
330093,Yukon,Canada,64.2823,-135.0000,2023-03-09,4989,32

In [29]:
dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

<ipython-input-29-42487c7c5d1e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

In [30]:
selected_country = ['Brazil', 'US', 'Italy', 'Canada']

In [31]:
dados_filtrados3 = dados_filtrados[(dados_filtrados['date'] == data_maxima) & \
                                   (dados_filtrados ['country'].isin(selected_country))]

In [32]:
dados_covid_2 = dados_filtrados3.groupby("country",).sum() .reset_index()

<ipython-input-32-8e9402adfe29>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_covid_2 = dados_filtrados3.groupby("country",).sum() .reset_index()

### Quest√£o 2

In [33]:
dados_covid_2['popula√ß√£o'] = np.log(dados_covid_2['infected'])

In [34]:
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  17.428482
1  Canada  708.85560 -1202.59790    4617095    51720  15.345276
2   Italy   41.87194    12.56738   25603510   188322  17.058240
3      US   40.00000  -100.00000  103802702  1123836  18.458003

In [35]:
dados_covid_2[dados_covid_2['country'].isin(['Brazil', 'US', 'Canada', 'Italy'])]

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  17.428482
1  Canada  708.85560 -1202.59790    4617095    51720  15.345276
2   Italy   41.87194    12.56738   25603510   188322  17.058240
3      US   40.00000  -100.00000  103802702  1123836  18.458003

In [36]:
dados_covid_2['popula√ß√£o'] = '214300000', '38250000', '58110000', '331900000'
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

### Quest√£o 3

In [81]:
dados_covid_2['popula√ß√£o'] = dados_covid_2['popula√ß√£o'].astype(int)
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [38]:
populacao_total = dados_covid_2['popula√ß√£o'].sum()
populacao_total

642560000

In [39]:
total_infectados = dados_covid_2['infected'].sum()

In [40]:
prob_infectados = total_infectados/populacao_total
prob_infectados

0.2662776394422311

* Quest√£o b

In [41]:
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [42]:
dados_brasil = dados_covid_2[dados_covid_2['country'] == 'Brazil']
dados_brasil

  country     Lat     Long  infected    dead  popula√ß√£o
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [45]:
dados_infec_br = dados_brasil['infected'].sum()
dados_infec_br

37076053

In [46]:
p_infec_br = dados_infec_br / populacao_total
p_infec_br

0.057700530689741035

### q3 - C

In [47]:
dados_brasil

  country     Lat     Long  infected    dead  popula√ß√£o
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [50]:
pop_brasil = dados_brasil['popula√ß√£o'].sum()
pop_brasil

214300000

In [49]:
populacao_total

642560000

In [52]:
pop_br_tot = pop_brasil / populacao_total
pop_br_tot

0.3335097111553785

In [56]:
#essa variavel √© referente a questao 3d
p_infec_ser_br = p_infec_br / pop_br_tot
p_infec_ser_br

0.17301004666355577

### Quest√£o 3 -- e / f --- US

* Quest√£o E

In [59]:
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [62]:
dados_us = dados_covid_2[dados_covid_2['country'] == 'US']
dados_us

  country   Lat   Long   infected     dead  popula√ß√£o
3      US  40.0 -100.0  103802702  1123836  331900000

In [66]:
infec_us = dados_us['infected'].sum()
infec_us

103802702

In [67]:
p_infec_us = infec_us / populacao_total
p_infec_us

0.16154553971613544

* Quest√£o F

In [69]:
pop_us = dados_us['popula√ß√£o'].sum()
pop_us

331900000

In [70]:
pop_us_tot = pop_us / populacao_total
pop_us_tot

0.5165276394422311

In [71]:
#P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao) - exemplo

p_infec_ser_us = p_infec_us / pop_us_tot
p_infec_ser_us

0.31275294365772816

### Quest√£o 3 -- H / I -- ITALY

* Quest√£o H

In [72]:
dados_covid_2

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [74]:
dados_italy = dados_covid_2[dados_covid_2['country'] == 'Italy']
dados_italy

  country       Lat      Long  infected    dead  popula√ß√£o
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [75]:
infec_italy = dados_italy['infected'].sum()
infec_italy

25603510

In [76]:
p_infec_italy = infec_italy / populacao_total
p_infec_italy

0.0398460999750996

* Quest√£o i

In [78]:
pop_italy = dados_italy['popula√ß√£o'].sum()
pop_italy

58110000

In [79]:
pop_italy_tot = pop_italy / populacao_total
pop_italy_tot

0.0904351344621514

### Quest√£o 4 - Brazil

* Quest√£o A

In [83]:
total_mortos = dados_covid_2['dead'].sum()
total_mortos

2063154

In [84]:
prob_morto = total_mortos/populacao_total
prob_morto

0.003210834785856574

* Quest√£o B

In [93]:
dados_brasil

  country     Lat     Long  infected    dead  popula√ß√£o
0  Brazil -14.235 -51.9253  37076053  699276  214300000

In [87]:
dados_morte_br = dados_brasil['dead'].sum()
dados_morte_br

699276

In [88]:
p_morte_br = dados_morte_br / populacao_total
p_morte_br

0.001088265687250996

* Quest√£o C

In [89]:
pop_br_tot

0.3335097111553785

In [90]:
p_morte_br

0.001088265687250996

In [91]:
p_morto_ser_br = p_morte_br / pop_br_tot
p_morto_ser_br

0.0032630704619692023

### Quest√£o 4 - US

* Quest√£o E

In [92]:
dados_us

  country   Lat   Long   infected     dead  popula√ß√£o
3      US  40.0 -100.0  103802702  1123836  331900000

In [94]:
dados_morte_us = dados_us['dead'].sum()
dados_morte_us

1123836

In [95]:
p_morte_us = dados_morte_us / populacao_total
p_morte_us

0.0017489977589641435

* Quest√£o F

In [97]:
pop_us_tot

0.5165276394422311

In [98]:
p_morte_us

0.0017489977589641435

In [99]:
p_morto_ser_us = p_morte_us / pop_us_tot
p_morto_ser_us

0.0033860680927990357

### Quest√£o 4 - Italy

* Quest√£o H

In [100]:
dados_italy

  country       Lat      Long  infected    dead  popula√ß√£o
2   Italy  41.87194  12.56738  25603510  188322   58110000

In [102]:
dados_morte_italy = dados_italy['dead'].sum()
dados_morte_italy

188322

In [103]:
p_morte_italy = dados_morte_italy / populacao_total
p_morte_italy

0.00029308080179282867

* Quest√£o i

In [104]:
pop_italy_tot

0.0904351344621514

In [105]:
p_morte_italy

0.00029308080179282867

In [106]:
p_morto_ser_italy = p_morte_italy / pop_us_tot
p_morto_ser_italy

0.0005674058451340764