# Checkpoint 1

## Carregar m√≥dulos

In [146]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [147]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [148]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [149]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## Ajustes

- Nomes das colunas

In [150]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [151]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [152]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

- Reajustar dados

In [153]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [154]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [155]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [156]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [157]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [158]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [159]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [160]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [161]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [162]:
dados_paises_covid.shape

(330327, 6)

In [163]:
dados_paises_covid_dead.shape

(330327, 6)

In [164]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [165]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [166]:
dados_covid.shape

(330327, 7)

## Aqui come√ßa o trabalho

## *Exemplo probabilidades (mem√≥rias de c√°lculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 pa√≠ses

total_populacao = soma do total de popula√ß√£o dos 4 pa√≠ses

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

In [167]:
from datetime import datetime, timedelta

In [168]:
np.max(dados_covid['date']) - timedelta(days=365)

Timestamp('2022-03-09 00:00:00')

###Quest√£o 1
 ‚Äì Filtrar a data mais recente (realizar o processo para buscar a √∫ltima data de forma
automatizada) e os pa√≠ses Brasil, It√°lia, E.U.A e Canad√°.
<br>
<Br>
primeiro tirar a coluna de provincias

In [169]:
data_maxima = np.max(dados_covid['date'])
data_maxima

Timestamp('2023-03-09 00:00:00')

filtrar a data mais recente (2023/03/09)
<br> 
depois provincias com as datas mais recentes
 <br>
 depois somar provincias com datas mais recentes

In [170]:
dados_filtrados = dados_covid[dados_covid["date"] == data_maxima]

In [171]:
dados_filtrados

,province,country,Lat,Long,date,infected,dead
330038,NaN,Afghanistan,33.939110,67.709953,2023-03-09,209451,7896
330039,NaN,Albania,41.153300,20.168300,2023-03-09,334457,3598
330040,NaN,Algeria,28.033900,1.659600,2023-03-09,271496,6881
330041,NaN,Andorra,42.506300,1.521800,2023-03-09,47890,165
330042,NaN,Angola,-11.202700,17.873900,2023-03-09,105288,1933
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [172]:
dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

<ipython-input-172-ff87ba695aee>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_filtrados_2 = dados_filtrados.groupby("country",).sum() .reset_index()

In [173]:
dados_filtrados_2

                  country        Lat        Long  infected  dead
0             Afghanistan  33.939110   67.709953    209451  7896
1                 Albania  41.153300   20.168300    334457  3598
2                 Algeria  28.033900    1.659600    271496  6881
3                 Andorra  42.506300    1.521800     47890   165
4                  Angola -11.202700   17.873900    105288  1933
..                    ...        ...         ...       ...   ...
196    West Bank and Gaza  31.952200   35.233200    703228  5708
197  Winter Olympics 2022  39.904200  116.407400       535     0
198                 Yemen  15.552727   48.516388     11945  2159
199                Zambia -13.133897   27.849332    343135  4057
200              Zimbabwe -19.015438   29.154857    264276  5671

[201 rows x 5 columns]

In [174]:
 dados_filtrados_2 [dados_filtrados_2["country"].isin (["Brazil", "Italy", "US",])]

    country       Lat       Long   infected     dead
24   Brazil -14.23500  -51.92530   37076053   699276
86    Italy  41.87194   12.56738   25603510   188322
186      US  40.00000 -100.00000  103802702  1123836

In [175]:
dados_canada = dados_covid[dados_covid["country"] == "Canada"]

In [176]:
dados_canada

,province,country,Lat,Long,date,infected,dead
40,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0
41,British Columbia,Canada,53.7267,-127.6476,2020-01-22,0,0
42,Diamond Princess,Canada,0.0000,0.0000,2020-01-22,0,0
43,Grand Princess,Canada,0.0000,0.0000,2020-01-22,0,0
44,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0
...,...,...,...,...,...,...,...
330089,Prince Edward Island,Canada,46.5107,-63.4168,2023-03-09,56523,93
330090,Quebec,Canada,52.9399,-73.5491,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.9399,-106.4509,2023-03-09,153651,1890
330093,Yukon,Canada,64.2823,-135.0000,2023-03-09,4989,32

In [177]:
 dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

<ipython-input-177-42487c7c5d1e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_canada2 = dados_canada.groupby("country",).sum() .reset_index()

In [178]:
dados_filtrados_2

                  country        Lat        Long  infected  dead
0             Afghanistan  33.939110   67.709953    209451  7896
1                 Albania  41.153300   20.168300    334457  3598
2                 Algeria  28.033900    1.659600    271496  6881
3                 Andorra  42.506300    1.521800     47890   165
4                  Angola -11.202700   17.873900    105288  1933
..                    ...        ...         ...       ...   ...
196    West Bank and Gaza  31.952200   35.233200    703228  5708
197  Winter Olympics 2022  39.904200  116.407400       535     0
198                 Yemen  15.552727   48.516388     11945  2159
199                Zambia -13.133897   27.849332    343135  4057
200              Zimbabwe -19.015438   29.154857    264276  5671

[201 rows x 5 columns]

In [179]:
dados_canada2

  country          Lat          Long    infected      dead
0  Canada  810221.9508 -1.374569e+06  2261682315  30262409

In [180]:
selected_country = ['Brazil', 'US', 'Italy', 'Canada']

In [181]:
dados_filtrados3 = dados_filtrados[(dados_filtrados['date'] == data_maxima) & \
                                                    (dados_filtrados ['country'].isin(selected_country))]

In [182]:
dados_filtrados3

,province,country,Lat,Long,date,infected,dead
330069,NaN,Brazil,-14.23500,-51.92530,2023-03-09,37076053,699276
330078,Alberta,Canada,53.93330,-116.57650,2023-03-09,629269,5622
330079,British Columbia,Canada,53.72670,-127.64760,2023-03-09,396817,5249
330080,Diamond Princess,Canada,0.00000,0.00000,2023-03-09,0,1
330081,Grand Princess,Canada,0.00000,0.00000,2023-03-09,13,0
330082,Manitoba,Canada,53.76090,-98.81390,2023-03-09,154712,2464
330083,New Brunswick,Canada,46.56530,-66.46190,2023-03-09,88866,834
330084,Newfoundland and Labrador,Canada,53.13550,-57.66040,2023-03-09,54757,318
330085,Northwest Territories,Canada,64.82550,-124.84570,2023-03-09,11511,22
330086,Nova Scotia,Canada,44.68200,-63.74430,2023-03-09,140793,794
330087,Nunavut,Canada,70.29980,-83.10760,2023-03-09,3531,7
330088,Ontario,Canada,51.25380,-85.32320,2023-03-09,1601325,16234
330089,Prince Edward Island,Canada,46.51070,-63.41680,2023-03-09,56523,93
330090,Quebec,Canada,52.93990,-73.54910,2023-03-09,1320325,18160
330091,Repatriated Travellers,Canada,NaN,NaN,2023-03-09,13,0
330092,Saskatchewan,Canada,52.93990,-106.45090,2023-03-09,153651,1890
330093,Yukon,Canada,64.28230,-135.00000,2023-03-09,4989,32
330192,NaN,Italy,41.87194,12.56738,2023-03-09,25603510,188322
330298,NaN,US,40.00000,-100.00000,2023-03-09,103802702,1123836

In [183]:
 dados_4 = dados_filtrados3.groupby("country",).sum() .reset_index()

<ipython-input-183-878f1a434a5d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dados_4 = dados_filtrados3.groupby("country",).sum() .reset_index()

###Quest√£o 2
‚ÄìPesquisar popula√ß√µes de Brasil, It√°lia, E.U.A. e Canad√°. Depois, adicionar estas popula√ß√µes como uma coluna no dataset.

In [184]:
dados_4

  country        Lat        Long   infected     dead
0  Brazil  -14.23500   -51.92530   37076053   699276
1  Canada  708.85560 -1202.59790    4617095    51720
2   Italy   41.87194    12.56738   25603510   188322
3      US   40.00000  -100.00000  103802702  1123836

In [185]:
dados_4['popula√ß√£o'] = np.log(dados_4['infected'])

In [232]:
dados_4['popula√ß√£o'] = '214300000', '38250000', '58110000', '331900000'

In [233]:
dados_4[dados_4['country'].isin(['Brazil', 'US', 'Canada', 'Italy'])]

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

###Quest√£o 3
‚Äì Considerando   somente   os   dados   dos   pa√≠ses   apresentados,   encontre   as   seguintes probabilidades, baseando-se na coluna de infectados:
<br>
*No pr√≥prio arquivo ‚Äú.ipynb‚Äù √© apresentado um exemplo.
<br>
a)P(infectado covid):
<br>
b)P(infectado covid e ser Brasileiro):
<br>
c)P(infectado covid | ser Brasileiro):
<br>
d)Compare estes resultados com o mesmo per√≠odo do ano passado.

In [234]:
dados_covid

,province,country,Lat,Long,date,infected,dead
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0
...,...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

#A) P(infectado covid):

total de pessoas / total de infectados

In [235]:
dados_4

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [236]:
dados_4['popula√ß√£o'] = dados_4['popula√ß√£o'].astype(int)
dados_4

  country        Lat        Long   infected     dead  popula√ß√£o
0  Brazil  -14.23500   -51.92530   37076053   699276  214300000
1  Canada  708.85560 -1202.59790    4617095    51720   38250000
2   Italy   41.87194    12.56738   25603510   188322   58110000
3      US   40.00000  -100.00000  103802702  1123836  331900000

In [238]:
populacao_total = dados_4['popula√ß√£o'].sum()
populacao_total

642560000

In [242]:
infectados_total = dados_4['infected'].sum()
infectados_total

171099360

In [244]:
infectados_total / populacao_total

0.2662776394422311

###26% de chance

### B) P (infectado covid e ser Brasileiro)

In [ ]:
# p_brasileiro = dados_4['popula√ß√£o'].  ('infectados_total')
# p_brasileiro